/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$theme-colors: (
  primary: #1c2152
);

$radref-orange: rgb(236, 97, 56);
$radref-blue: rgb(28, 33, 82);
